name: Validate with hassfest

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
      - release/*
    paths-ignore:
      - docs/*
      - "*.md"
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v2"
      - uses: home-assistant/actions/hassfest@master
